# Hamoye Quiz, Introduction to Python Programming

ID: 16e550440f01f000

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv

In [3]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding = 'latin-1')

# import io
# df2 = pd.read_csv(io.BytesIO(uploaded['FoodBalanceSheets_E_Africa_NOFLAG.csv']), encoding = 'latin-1')

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

Filling in Missing Data

In [6]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [8]:
# Question 1'

# What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [16]:
# Question 2
# Which of the following is a python inbuilt module?

import sys

python_inbuilt_modules = sys.modules.keys()

for module_name in python_inbuilt_modules:
    if module_name == 'math':
      print(module_name)

math

In [10]:
# Question 3
# Which year had the least correlation with ‘Element Code’?

# Fill in missing values to prevent error while calulating
df['Y2014'].fillna(df['Y2014'].mean(), inplace = True)
df['Y2015'].fillna(df['Y2014'].mean(), inplace = True)
df['Y2016'].fillna(df['Y2014'].mean(), inplace = True)
df['Y2017'].fillna(df['Y2014'].mean(), inplace = True)
df['Y2018'].fillna(df['Y2014'].mean(), inplace = True)

from scipy import stats

# Create an empty DataFrame to store the correlations and p-values
corr_df = pd.DataFrame(columns=['r', 'p-value'])

for col in df:  # Use this to loop through the insurance.csv DataFrame
  if pd.api.types.is_numeric_dtype(df[col]): # Only calculate r, p-value for the numeric columns
     r, p = stats.pearsonr(df['Element Code'], df[col])
     corr_df.loc[col] = [round(r, 3), round(p, 3)]

corr_df.sort_values(by=['r'], ascending=False)


corr_df

                  r  p-value
Area Code    -0.000    0.959
Item Code    -0.025    0.000
Element Code  1.000    0.000
Y2014         0.024    0.000
Y2015         0.024    0.000
Y2016         0.023    0.000
Y2017         0.024    0.000
Y2018         0.024    0.000

In [20]:
# Question 4

# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding = 'latin-1')
df1 = df.groupby('Element').sum().loc['Processing'],['Y2017']
df1

<ipython-input-20-5f178dec2b3e>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1 = df.groupby('Element').sum().loc['Processing'],['Y2017']

(Area Code         271940.0
 Item Code        5350416.0
 Element Code    10313310.0
 Y2014             282923.0
 Y2015             287929.0
 Y2016             280631.0
 Y2017             292836.0
 Y2018             308429.0
 Name: Processing, dtype: float64,
 ['Y2017'])

In [21]:
# Question 5


url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding = 'latin-1')
df2 = df.groupby('Element').sum().loc[['Stock Variation']].max()
df2

<ipython-input-21-2c458faf9c9a>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2 = df.groupby('Element').sum().loc[['Stock Variation']].max()

Area Code         571566.00
Item Code       11329527.00
Element Code    21464704.00
Y2014              58749.83
Y2015              34910.99
Y2016              33140.12
Y2017              54316.91
Y2018              20577.91
dtype: float64

In [22]:
# Question 6

y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [26]:
# Question 7
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

df3 = df.groupby('Area').sum().loc[:]['Y2017'].sort_values().reset_index().iloc[6]
df3

<ipython-input-26-0a625800a2b8>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df6 = df.groupby('Area').sum().loc[:]['Y2017'].sort_values().reset_index().iloc[6]

Area     Guinea-Bissau
Y2017         19102.77
Name: 6, dtype: object

In [27]:
# Question 8
# Which of the following dataframe methods can be used to access elements across rows and columns?

df.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [ ]:
# Question 9
# Which of these python data structures is unorderly?
# # Set is the answer

In [ ]:
# Question 10
# What is the total Protein supply quantity in Madagascar in 2015?


# Loop through the list and append names as suffix to a variable
country_names = []

for name in countries:
    variable_name = 'df_' + name + ' = ' + "df[(df['Area'] == " + str(name) + ')]'# Append name as a suffix
    # Perform some operation or retrieve data using the variable name
    # Here, we'll just add the name to the data list
    country_names.append(variable_name)

country_names

In [29]:
df_Madagascar = df[(df['Area'] == 'Madagascar')]
df2 = df.groupby('Element').sum().loc[['Madagascar'], ]
df2

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

In [30]:
# Question 11
# How would you check for the number of rows and columns in a pandas DataFrame named df


df.shape

(60943, 12)

In [47]:
# Question 12
# What is the total number and percentage of missing data in 2014 to 3 decimal places?

url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding = 'latin-1')
df9 = df['Y2014'].isna().sum()
df9

1589

In [48]:
(1589/60943) *100

2.6073544131401474

In [31]:
# Question 13
# A pandas Dataframe with dimensions (100,3) has how many features and observations?

# 110 rows and 3 observations
df.shape

(60943, 12)

In [32]:
# Question 14
# What is the total number of unique countries in the dataset?


df['Area'].nunique()

49

In [34]:
# Question 15
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

round(df.describe().loc[['mean','std']][['Y2017']], 2)

        Y2017
mean   140.92
std   1671.86

In [35]:
# Question 16
# If you have the following list


# How do you create a pandas DataFrame using this list, to look like the table below


lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age', 'Nationality', 'Overall']

df5 = pd.DataFrame(lst, columns = col, index = [i for i in range(1, 4)])
df5

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [45]:
# Question 17
# Given the following numpy array 

# array  = ([[94, 89, 63],

#              [93, 92, 48],

#              [92, 94, 56]])

# How would you select  the elements in bold and italics from the array?

array  = ([[94, 89, 63],

              [93, 92, 48],

              [92, 94, 56]])

TypeError: ignored

In [36]:
# Question 18
# Answer the following questions based on the African food production dataset provided by the FAO website already provided

# What is the total sum of Wine produced in 2015 and 2018 respectively?

# Hint:

# Perform a groupby sum aggregation on ‘Item’


df7 = df.groupby('Item').sum().loc[['Wine'],['Y2015','Y2018']]
df7

<ipython-input-36-e6236cb82681>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df7 = df.groupby('Item').sum().loc[['Wine'],['Y2015','Y2018']]

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [43]:
# Question 19
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?


df8 = df.groupby('Area').sum()
df9 = df8['Y2017'].idxmax()
df9

<ipython-input-43-9a0b79077b1d>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df8 = df.groupby('Area').sum()

'Nigeria'

In [44]:
# Question 20
# Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored